<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">

    <div class="container justify-content-center">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.svgporn.com/logos/chromatic-icon.svg" width="30" height="30" alt="">
        </a>
    </div>
</nav>



<div class="container mt-5">
    <div class="row mt-5 justify-content-center">

        <div class="col-6">
            <h2>Registrarse</h2>
            <br>
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input [(ngModel)]="nombre" name="nombre" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1">Apellido</label>
                    <input [(ngModel)]="apellido" name="apellido" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1">Pais</label>
                    <input [(ngModel)]="pais" name="pais" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1">Fecha nacimiento</label>
                    <input [(ngModel)]="fecha_nac" name="fecha_nac" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1">Correo</label>
                    <input [(ngModel)]="correo" name="correo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1">Contrasenia</label>
                    <input [(ngModel)]="contrasenia" name="contrasenia" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <label for="exampleInputEmail1">Confirmar</label>
                    <input [(ngModel)]="confirmar" name="confirmar" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    
                </div>

                <br>
                <button (click)="addUser()" type="submit" class="btn btn-primary btn-block">Registrar</button>
            </form>
        </div>


    </div>
</div>
